/* ============================= */
/*        GLOBAL STYLES         */
/* ============================= */
html {
    scroll-behavior: smooth;
}


body {
    background-color: beige;
    padding: 0;
    margin: 0;
    

}

/* ============================= */
/*      SCROLLING CONTAINER     */
/* ============================= */
.scroll-wrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* Firefox */
}

/* ============================= */
/*         CONTAINER 1          */
/* ============================= */
.main-container-1 {
    display: grid;
    position: relative;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    scroll-snap-align: start;
}

.left-part,
.right-part {
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.left-part {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("images/photo1.JPG");
}

.right-part {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url("images/photo2.JPG");
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: beige;
    font-weight: bold;
}

/* ============================= */
/*         CONTAINER 2          */
/* ============================= */
.main-container-2 {
    display: grid;
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10%;
    grid-template-columns: 1fr 5rem 1fr 5rem 1fr;
    grid-template-rows: 1fr 5rem;
    scroll-snap-align: start;
}

.part-1, .part-2, .part-3 {
    text-align: center;
    background-size: cover;
}

.part-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("images/part-1.JPG");
    position: relative;
}

.part-2 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url("images/part-2.JPG");
}

.part-3 {
    grid-area: 1 / 5 / 2 / 6;
    background-image: url("images/part-3.JPG");
}

.part-1-text, .part-2-text, .part-3-text {
    text-align: center;
    font-size: 3rem;
}

.part-1-text {
    grid-area: 2 / 1 / 3 / 2;
}

.part-2-text {
    grid-area: 2 / 3 / 3 / 4;
}

.part-3-text {
    grid-area: 2 / 5 / 3 / 6;
}

/* ============================= */
/*         CONTAINER 3          */
/* ============================= */
.main-container-3 {
    display: grid;
    position: relative;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    scroll-snap-align: start;
}
