# Скопируйте в vault.yml и зашифруйте: ansible-vault encrypt vault.yml
postgres_password: "CHANGE_ME"
redis_password: ""
minio_access_key: "CHANGE_ME"
minio_secret_key: "CHANGE_ME_STRONG_PASSWORD"
mail_username: ""
mail_password: ""
mail_from: ""
