@font-face {
    font-family: 'BacasimeAntique';
    src: url('../fonts/BacasimeAntique-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BungeeHairline';
    src: url('../fonts/BungeeHairline-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ViaodaLibre';
    src: url('../fonts/ViaodaLibre-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZenKakuGothicAntique';
    src: url('../fonts/ZenKakuGothicAntique-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}