* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
    margin: 0;
    padding: 0;
}

.container-1 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #878588;

    background-image: url("../images/litiy-1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.title {
    position: fixed;

    width: 100vw;
    height: 5vh;

    background-color: rgba(255, 255, 255, 0.1);
}

.contact-container {
  position: absolute;
  height: 5vh;
  left: 0;
  text-align: center;
}

.contact-toggle {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}

.contact-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 1%;
  padding: 10px;
  display: none;
  min-width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  z-index: 10;
}

.contact-dropdown.show {
  display: block;
}

.menu-container {
  position: absolute;
  height: 5vh;
  width: 5vh;
  right: 1vw;
  top: 0;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  font-size: 24px;
  user-select: none;
}

/* Скрытое боковое меню */
.side-menu {
  position: fixed;
  top: 0;
  right: -250px; /* скрыто за экраном */
  width: 250px;
  height: 100vh;
  background-color: #eee;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 100;
}

.side-menu.open {
  right: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin: 20px 0;
}

.side-menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.litiy-text {
    position: absolute;

    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 10vw;

    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 6vw;
    transition: all 1s ease;
}

.litiy-text.shrink {
  font-size: 2vw;
  letter-spacing: 2vw;
  color: black;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
}

.title-text.visible {
  opacity: 1;
}

.container-2 {
    position: relative;
    display: grid;

    margin: 0;
    padding: 7%;
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;

    grid-template-columns: 1fr 0.2fr 1fr;
}

.part-1 {
    position: relative;

    margin: 0;
    padding: 0;

    grid-column: 1 / 2;

    box-sizing: border-box;

    background-image: url("../images/part-1.jpg");
    background-size: cover;
}

.design-text {
    position: absolute;

    width: 100%;
    height: 7%;

    margin: 0;
    padding: 0;

    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    background-color: rgba(255, 255, 255, 0.7);

    text-align: center;
    color: black;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    letter-spacing: 0.3vw;
}

.part-2 {
    position: relative;

    margin: 0;
    padding: 0;

    grid-column: 3 / 4;

    box-sizing: border-box;

    background-image: url("../images/part-2.jpg");
    background-size: cover;
}

.model-text {
    position: absolute;

    width: 100%;
    height: 7%;

    margin: 0;
    padding: 0;

    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    background-color: rgba(255, 255, 255, 0.7);

    text-align: center;
    color: black;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    letter-spacing: 0.3vw;
}